@charset "UTF-8";

@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:100;
	src:url(fonts/NotoSansKr/woff/NotoSansKR-Thin.woff) format('woff'),
	  url(fonts/NotoSansKr/otf/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:300;
    src:url(fonts/NotoSansKr/woff/NotoSansKR-Light.woff) format('woff'),
        url(fonts/NotoSansKr/otf/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:url(fonts/NotoSansKr/woff/NotoSansKR-Regular.woff) format('woff'),
	url(fonts/NotoSansKr/otf/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:url(fonts/NotoSansKr/woff/NotoSansKR-Medium.woff) format('woff'),
	url(fonts/NotoSansKr/otf/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	src:url(fonts/NotoSansKr/woff/NotoSansKR-Bold.woff) format('woff'),
	url(fonts/NotoSansKr/otf/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:900;
	src:url(fonts/NotoSansKr/woff/NotoSansKR-Black.woff) format('woff'),
	url(fonts/NotoSansKr/otf/NotoSansKR-Black.otf) format('opentype');
}

html,body,div,span,ul,li,ol,nav,h1,h2,h3,h4,h5,p,dl,dt,dd{margin:0; padding:0; box-sizing:border-box; font-family:"Noto Sans KR","돋움", monospace, arial, sans-serif; font-size:16px; text-decoration:none; font-weight:normal; user-select:none;}
ul,ol,li{list-style:none;}
table{width:100%; border:none; border-collapse:collapse;}
input,select,textarea{outline:none;}

/* 공용 */
:root{
	--gnb-height:48px;
}
html,body,.wrap{height:100%;}
table{}
th,td{border:1px solid #a9a9a9; font-weight:normal; text-align:left; padding:8px 12px; color:#333;}
th{font-weight:500;}
tr td:first-child{font-weight:500;}
.bk_panel{position:fixed; top:var(--gnb-height); bottom:0; left:0; right:0; background:rgba(0,0,0,0.3); display:none; z-index:1;}

ol.number{padding-left:25px;}
ol.number li{list-style:decimal;}
ol.number li span{display:inline-block; width:85px; font-weight:500;}

.code{padding:0 10px 10px; border-radius:10px; /* height:0; */ overflow:hidden; transition:height 0.3s ease;}
.code.on{padding-bottom:10px;}
.code pre{border-radius:15px; padding:15px 30px 0;}
.code pre code{padding:0;}


/* gnb */
.gnb{height:var(--gnb-height); box-shadow:0 2px 6px rgba(0,0,0,0.16); background:#fff; border-bottom:1px solid #d1d1d1;}
.gnb ul{overflow:hidden; display:flex; justify-content:center;}
.gnb ul li{height:var(--gnb-height); line-height:var(--gnb-height); padding:0 20px; font-size:20px; cursor:pointer; font-weight:500; position:relative;}
.gnb ul li:before{content:""; position:absolute; left:0; bottom:-3px; width:100%; height:3px; background:skyblue; transition:all 0.3s ease;}
.gnb ul li:hover:before{bottom:2px;}
.gnb span{float:left; width:var(--gnb-height); height:var(--gnb-height); text-align:center; line-height:var(--gnb-height); font-size:18px; font-weight:500;}


/* main */
.main{display:flex; flex-wrap:wrap; height:calc(100% - 48px);}


/* lnb */
.lnb{width:200px; height:100%; border-right:1px solid #b1b1b1; background:#fff; overflow:auto;}
.lnb ul{}
.lnb ul li{height:40px; line-height:40px; border-bottom:1px solid #b1b1b1; padding:0 15px; cursor:pointer;}
.lnb ul li:hover{background:skyblue; color:#000; font-weight:500;}


/* main_cont */
.main_cont{flex:1; overflow:auto; height:100%;}

/* .cont_wrap{min-width:1080px;} */
.cont{padding:30px 50px; display:none;}
.main_title{font-size:40px; font-weight:bold; text-align:center; margin-bottom:30px;}
.cont_box{border:1px solid #a9a9a9; border-radius:15px; margin-top:20px; overflow:hidden;}
.cont_box h2{display:flex; justify-content:space-between; align-items:center; height:48px; padding:0 20px; font-size:20px; font-weight:500; border-bottom:1px solid #a9a9a9;}
.cont_box h2 span{font-weight:500; font-size:16px; cursor:pointer; border:1px solid #a9a9a9; border-radius:5px; padding:4px 8px; background:#f1f1f1;}
.cont_box h2 span:hover{background:#dfdfdf;}
.cont_box .des{padding:15px;}


@media screen and (max-width:500px){
	html, body, div, span, ul, li, ol, nav, h1, h2, h3, h4, h5, p, dl, dt, dd{font-size:14px;}
	.gnb ul{justify-content:flex-start; max-width:calc(100% - 100px); float:right; flex-wrap:nowrap; overflow-x:auto;}
	.gnb ul li{padding:0 10px; flex-shrink:0;}
	.lnb{position:fixed; top:var(--gnb-height); left:-200px; transition:all 0.1s linear; z-index:10;}
	.cont{padding:30px 20px;}
	.cont_box h2{font-size:16px;}
	.cont_box h2 span{font-size:14px; padding:4px 6px;}
	code{font-size:12px !important;}
	code *{font-size:12px !important;}
}